{% extends 'base.html' %}
{% block content %}


    {% if ride %} 
    <form  id='confirmation' action="/logout" method="GET">   
    <p>Drivers and Riders: <br>
    Please confirm your arrangements via text message or email.
    <br><br> 

        Driver: {{ driver.fname }} {{ driver.lname }} | {{driver.email}} | {{ driver.phone }}
        <br><br>
        Rider: {{ rider.fname }} {{rider.lname}} | {{ rider.email }} | {{ rider.phone }}</p>
   
        <input type='hidden' id='driver' 
        name='user_info'>
        <input type='hidden' id='rider' 
        name='user_info'>
    </form>
    {% endif %}



{% endblock %}