{% extends 'base.html' %}
{% block title %}Let's Go!{% endblock %}
{% block content %}
<head>
  <meta content="initial-scale=1.0, user-scalable=no">
<style>
#map {
  height: 400px;
}

.controls {
  margin-top: 10 px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  height: 32 px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3)
}
#pac-origin-input,
#pac-destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12 px;
  padding: 0 11px 0 13px;
  width: 300px;
}

#pac-origin-input: focus,
#pac-destination-input: focus, {
  border-color: #4d90fe;
}
#datepicker: focus, {
  font-family: Helvetica;
  font-weight: 100;
  color:#333;
  text-align:center;
}
</style>
</head>


</style>
<script>
     var map;
     var directionsService; 
     var directionsDisplay;
     
    
      function initMap() {

        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          mapTypeID: 'ROADMAP',
          center: {lat: 37.765, lng: -122.241}
        });
        directionsService = new google.maps.DirectionsService();
        directionsDisplay = new google.maps.DirectionsRenderer();
        directionsDisplay.setMap(map);
        new AutocompleteDirectionsHandler(map);
      }

      function AutocompleteDirectionsHandler(map) {
        this.map = map;
        this.originPlaceID = null;
        this.destinationPlaceID = null;
        this.travelMode = 'DRIVING';
        var originInput = document.getElementById('pac-origin-input');
        var destinationInput = document.getElementById('pac-destination-input');

      
        var originAutocomplete = new google.maps.places.Autocomplete(originInput, {placeIdOnly: true});
        var destinationAutocomplete = new google.maps.places.Autocomplete(destinationInput, {placeIdOnly: true});

        this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(originInput);
        this.map.controls[google.maps.ControlPosition.TOP_CENTER].push(destinationInput);
      }
 

      function calcRoute() {
        var start = document.getElementById('pac-origin-input').value;
        var end = document.getElementById('pac-destination-input').value;
        
        var request = {
          origin: start,
          destination: end,
          travelMode: 'DRIVING'
        };
        directionsService.route(request, function(response, status) {
          if (status == 'OK') {
            directionsDisplay.setDirections(response);
          }
         });
      }
</script>

    <!-- Load jQuery JS -->

    <!-- Load jQuery UI Main JS  -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  

<body>
<form class="form-horizontal" id='form' action="/map" method='POST'>
  <div class="container">
    <input id="end" name="end" type='hidden'>  
    <span id="destination"> 
      <h1>Where are you going?</h1>
      <input  id="pac-destination-input" name="destinationInput" class="controls" type="text" placeholder="Destination?" >
    </span>
    <br>
    <input id="start" name="start" type='hidden'>
    <div id="start-address">
      <h1>Enter your start location and destination:</h1> 
      <input id="pac-origin-input" name="originInput" class="controls" type="text" placeholder="Where are you starting from?" >
    </div>
  </div>
  <div style="background: orange;"> 
  <div class="row" >
    <div class="container">
      <button id="getroute" class="form-control" style="background: #2ba6cb" type="button"> Click here to Get A Driving Route</button>
    </div>
  </div>
  <div id="map"></div>

  <div id="datepicker">
    <h3>Date and Time of Travel:</h3>
    <p>Date: <input type="date" name='date' ></p>
     <p>Arrival Time (use only 15 minute increments): <input type="time" name="arrival_time"></p>
    
  </div>

    <br>
    <br>
    
<div class="dropdown" id="num_seats">
  <h3>How many seats do you have available? (1-6)</h3>
    <select name="num_seats">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>  
  </div>
    <br>
    <br>
      <input type="submit">
</form>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5tDzhP-TkpUOI4dOZzkATen2OUCPasf4&libraries=places&callback=initMap"
        async defer></script>
<script src="https://code.jquery.com/jquery.js"></script> 
<script> $('#getroute').on('click', calcRoute);</script>

<script> 
// $('#form').on('submit', function (evt) {
//       evt.preventDefault();
//         var input=$('#pac-origin-input').val();
//         $('#start').val(input);
//         var otherinput=$('#pac-destination-input').val();
//         $('#end').val(otherinput);


//         $(this).submit();
// });
// </script>
</body>




<!-- displays map and a box for driver to input destination -->

<!-- pull down menu with 15 minute time increments stored as datetime objects -->

<!-- displays icons for driver to select 1-6 -->

<!-- driver inputs starting address which allows map to be generated -->






{% endblock %}