{% extends 'base.html' %}
{% block content %}
    <div class="orange">
    <h1>Login</h1>
    <form action="/login_process" method="POST">

        <div>
            <label>Email:
                <input type="email" name="email" required>
            </label>
        </div>

        <div>
            <label>Password:
                <input type="password" name="password" required>
            </label>
        </div>
        <div>
            <label> Driver or Rider:<br>
                <input type='radio' name="typeofuser" value="rider">Rider<br>
                <input type='radio' name="typeofuser" value="driver">Driver<br>
            </label>
        </div>    

        <div>
            <input type="submit" value="Log In">
        </div>

    </form>
</div>
{% endblock %}