{% extends 'base.html' %}
{% block content %}
<h1>Please register to use CarPool!</h1>

<form class="form-horizontal" action="/register_newperson" method="POST">

    <div class="form-group">
    
        <h3> New users: </h3>
            <label for="inputEmail" class="col-sm-2 control-label">Email:
                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email"required>
            </label>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password:
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password"required>
            </label>
        </div>
            
            <label>First Name:
                <input type="text" name="fname" required>
            </label>
            <label>Last Name:
                <input type="text" name="lname" required>
            </label>
            <label>Phone Number:
                <input type="tel" name="phone_number" required>
            </label>
            <label>License Number (required):
                <input type="text" name="license_number" required>
            </label>
            <br>
            <br>
            <label> Driver or Rider:<br>
                <input type='radio' name="typeofuser" value="rider">Rider<br>
                <input type='radio' name="typeofuser" value="driver">Driver<br>
            </label>


    </div>

    <div>
        <input type="submit" value="Registration">
    </div>

</body>
</html>
{% endblock %}