{% extends 'base.html' %}
{% block content %}

    {% if routes %}
     <form  id='ride_form' action="/get_ride" method="POST">
                <p>Route:</p><br><br>

        {% for route in routes %}
            Time: {{route.arrival_time_date}} <br>
            Start: {{ route.start_address.street_address  }}<br>
                   {{ route.start_address.city  }} 
                   {{ route.start_address.state  }} 
                   {{ route.start_address.zip_code  }}<br>
            End: {{ route.end_address.street_address  }}<br>
                 {{ route.end_address.city  }} 
                 {{ route.end_address.state  }} 
                 {{ route.end_address.zip_code  }}<br>

           
            <input type='hidden' id='claimride' value='{{ route.route_id }}' name="route_id">
            <input type='hidden' id='user' value='{{ session["user_id"] }}' name="user_id" >
            <br>
            <button id="seatreserved">Reserve a Seat!</button>
            <br>
            </form>
        {% endfor %}
    {% else %}
        no routes available

    {% endif %}
{% endblock %}
