<hr>
<!-- {% block content %} -->
{% if routes %}
<p>Route:</p>
{% for route in routes %}
<form id='ride_form' action="/get_ride/{{route.route_id}}" method="POST">

    <input type='hidden' id='user' value='{{ session["user_id"] }}' name="user_id"> Driver is planning on arriving at your location at: {{route.arrival_time_date.strftime('%a, %b %d at %-I:%M')}}
    <br>
    <br> Leaving from: {{ route.start_address.street_address }}
    <br> {{ route.start_address.city }} {{ route.start_address.state }} {{ route.start_address.zip_code }}
    <br>
    <br> The destination is: {{ route.end_address.street_address }}
    <br> {{ route.end_address.city }} {{ route.end_address.state }} {{ route.end_address.zip_code }}
    <br>

    <br>
    <input type="submit">Reserve a Seat!</button>
    <br>
</form>
<br>
<br> {% endfor %} {% else %} no routes available {% endif %}
<!-- {% endblock %} -->